:root{
    font-family: Roboto, serif;
}

html {
    height: 100%
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container#webpage {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 100%;
}

.container#navigation{
    width: 100%;
    justify-content: space-between;
}

.container#rightnav, .container#rightfooter{
    justify-content: flex-end;
}

.container#navigation .item, .container#footer .item {
    padding: 0px 10px;
    margin: 2px 5px;
    display: flex;
}

.item#signIn{
    background-color: #1a73e8;
    border-radius: 5px;
    height: 60%;
    width: 80px;
    align-self: center;
}

.item#signIn h4 {
    color: white;
    padding-left: 20px;
    align-self: center;
}

.material-icons{
    align-self: center;
}

h4 {
    font-size: 14px;
    font-weight: normal;
}

h4:hover{
    text-decoration: underline;
}

#leftnav .item {
    padding: 10px;
    margin: 0px 10px;
}

.container#logo {
    justify-content: space-around;
    margin: 50px 0px 10px;
}

.container#searchform {
    flex-direction: column;
    width: 100%;
}


.container#searchform .container{
    justify-content: center;
    width: 100%;
}

input{
    justify-content: center;
    max-width: 560px;
    height: 39px;
    border-radius: 19.5px;
    outline: none;
    border-color:rgb(97, 93, 93);
    border-style: solid;
}



.container#searchform button{
    padding: 10px 16px;
    margin: 11px 4px;
    min-width: 108.5px;
    min-height: 34px;
    background-color: white;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}

.container#searchform button:hover{
    border: active;
    border-color: rgb(233, 230, 230);
    border-width: 2px;
}

input {
    width: 100%;
}

footer{
    width: 100%;
    justify-content: space-between;
    margin-top: 300px;
}





